@import "frappe/public/js/lib/leaflet/leaflet.css";
@import "frappe/public/js/lib/leaflet/leaflet.draw.css";
@import "frappe/public/js/lib/leaflet/L.Control.Locate.css";
@import "frappe/public/js/lib/leaflet/easy-button.css";
@import "frappe/public/css/font-awesome.css";
@import "frappe/public/css/octicons/octicons.css";
@import "frappe/public/css/fonts/inter/inter.css";
@import "~frappe-charts/dist/frappe-charts.min";
@import "~plyr/dist/plyr";
@import "./desk/index";

.desk-sidebar {
  //   display: none !important;
}

.col-lg-2.layout-side-section {
  //   display: none !important;
}

.page-container[data-page-route="Workspaces"] {
  background: url("/assets/frappe/images/cosumar/bluecirclesbg.png") no-repeat;
  background-size: cover;
  background-position: inherit;
}

.widget.widget-shadow.shortcut-widget-box {
  transition: all 0.2s ease-in-out;
}
.widget.widget-shadow.shortcut-widget-box:hover {
  transform: scale(1.05);
}
.widget.widget-shadow.shortcut-widget-box:focus {
  transform: scale(1.04);
}
.page-title {
  // display: none;
}
